Source: ssh-legion
Section: net
Priority: optional
Maintainer: Alois Klink <alois@nquiringminds.com>
Uploaders: Alexandru Mereacre <mereacre@gmail.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.5.0
Homepage: https://github.com/nqminds/ssh-legion
Vcs-Browser: https://github.com/nqminds/ssh-legion
Vcs-Git: https://github.com/nqminds/ssh-legion.git

Package: ssh-legion
Architecture: all
Depends:
 openssh-client,
 bash (>= 4.4),
 openssl (>= 1.1.1)
Description: Automatic reverse SSH tunnel for multiple IoT devices.
 Automatically sets up a reverse SSH tunnel to a remote host through a
 publically accesible Reverse SSH server.
 .
 Each host creates a tunnel so that it's accessible via localhost on the
 reverse SSH server. This means that an SSH proxyjump can be used to SSH
 through the reverse SSH tunnel to the host.
 .
 Importantly, each host creates a file on the server's ~/connections folder
 that contains the port number of the local tunnel port. This means that you
 can deploy this ssh-legion script on multiple devices, and have them all use
 unique ports automatically.
