Source: ssh-tunnel
Section: net
Priority: optional
Maintainer: Alois Klink <alois@nquiringminds.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.5.0
Homepage: https://github.com/nqminds/nqm-ssh-tunnel
Vcs-Browser: https://github.com/nqminds/nqm-ssh-tunnel
Vcs-Git: https://github.com/nqminds/nqm-ssh-tunnel.git

Package: ssh-tunnel
Architecture: all
Depends: openssh-client, bash
Description: NquiringMinds SSH Tunnel Service.
 Automatically sets up a reverse SSH tunnel to a remote host.